.titulosejaumcuidador{
  font-family: 'Montserrat', sans-serif;
  color: white;
  text-align: center;
  padding-top: 1rem;
  margin-top: 1.5rem;



}
.subtitulosejaumcuidador{
  font-family: 'Montserrat', sans-serif;
  color: white;
  text-align: center;
  padding-bottom: 1rem;
  font-size: 1.4rem;

}
.secaosejaumcuidador{
  background-image: url("https://www.imagemhost.com.br/images/2021/02/16/cachorrogramado2.jpg");

  height: 62rem;
}



.textosejaumcuidador{
  font-size: 1.8rem;
  text-align: center;
  color:rgb(168, 167, 167);

}
.textosejaumcuidador2{
  font-size: 1.8rem;
  text-align: center;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  color:rgb(168, 167, 167);

}
.areasejaumcuidador{
  padding-left: 0.01rem;
  padding-right: 0.01rem;
  padding-top: 5rem;
  padding-bottom: 9rem;

}

.botaoqueromecadastrar{
  background-color:#3498db;
  color: white;
  font-size: 1.5rem;
  font-weight: 500;

}

.conteudosejaumcuidador{

  width: 80%;
  position: relative;
  left: 13rem;
}

.imagemsejaumcuidador{
  object-fit: cover;
  position: relative;
  width: 100%;
}

.cardseja{
background-color: rgba(255, 255, 255, 0.849);
width: 80%;
left: 10rem;
padding-top: 5rem;
}

.imagem1contrate{
  width: 40%;
  margin-right: 1.8rem;
}

.icone1contrate{
  text-align: right;


}

.textoiconescont{
  font-size: 2rem;
  font-family: 'Montserrat', sans-serif;
  color:#3498db
}
