

.div-1{
    width: 24%;
    border: 2px solid black;
    border-radius: 20px;
    margin: 1em auto;
    margin-left: 0.5%;
    float: left;
  }
  
  .div-2{
    width: 46%;
    border: 2px solid black;
    border-radius: 20px;
    margin: 1em auto;
    margin-left: 2%;
    float: left;
  }
  
  .div-3{
    width: 24%;
    border: 2px solid black;
    border-radius: 20px;
    margin: 1em auto;
    margin-left: 2%;
    float: left;
  }
  
  
  .textoSimples{
    color: black;
  
  }
  
  .tituloMaiorDiv1{
    font-size:larger;
  }
  
  .titulosDiv1{
    font-size:large;
  
  }
  
  .titulosDiv2{
    font-size:large;
  
  }
  
  .titulosDiv3{
    font-size:large;
  
  }
  
  .classeDiv{
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1.25rem;
  }
  
  .h1quemsomos{
    font-size:x-large;
    
  }
  
  .h1petcareservices{
    font-size: x-large;
  }
  
  .imgQmSomos {
    height: 311px;
    border-radius: 20px;
  }

  .imgPetLogo{
    height: 311px;
    border-radius: 20px;  
  }

  .imgPetFriends{

  }
  
  