.fundo-header {
  background-color: #3498db;
}
.button {
  color: #3498db; 
}

#carlos{
  margin-top: .6rem;
  margin-bottom: 3rem;
}

.fundoF{
  --background: #3498db;
  --color: #fff;
}

/* buttons */ 

.button-login{
  --background: #3498db;
  --color: #fff;
  --border-radius: 1.3rem;
  display: block;
  margin-top: .3rem;
  margin-left: 8.2rem;
  margin-right: 8.2rem;
}

/* Slide */

