<ion-header class="header-blue">
  <img class="logo-pages" src="../../assets/imglogo/PetCareLogoSVG.svg" alt="Logo Pet Care">
  <ion-toolbar>
    <ion-title>Home</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button class="button" menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list class="services-padding">
      <ion-item>
        <ion-button (click)="goToLogin()" size="default"  class="button-service">Perfil</ion-button>
      </ion-item>
      <ion-item>
        <ion-button (click)="goToMeuspets()" size="default" class="button-service">Meus Pets</ion-button>
      </ion-item>
      <ion-item class="padding-sair" lines="none">
      <ion-button (click)="logout()" color="danger" size="default" class="button-service margin-sair">Sair</ion-button>
      </ion-item>
  </ion-list>
</ion-content>

<ion-footer class="ion-no-border">
  <ion-toolbar class="fundoF">
    <ion-title> PetCare 2021 &copy;</ion-title>
  </ion-toolbar>
</ion-footer>
