 .button-service{
    --background: #3498db;

 }
 .padding-sair{
    --padding-top: 3rem;
 }

 .margin-sair{
   margin-left: auto;
   margin-right: auto;
 }

 .fundoF{
    --background: #3498db;
    --color: #fff;
 }