.titulosejaumcuidador{
  font-family: 'Montserrat', sans-serif;
  color: white;
  text-align: center;
  padding-top: 1rem;
  margin-top: 1.5rem;
}

.subtitulosejaumcuidador{
  font-family: 'Montserrat', sans-serif;
  color: white;
  text-align: center;
  padding-bottom: 1rem;
  font-size: 1.4rem;

}
.secaosejaumcuidador{
  background-image: url("src/assets/img/cachorrogramado2.jpg");

  height: 75rem;
}



.textosejaumcuidador{
  font-size: 1.8rem;
  text-align: left ;
  color:rgb(102, 102, 102);


}
.textosejaumcuidador2{
  font-size: 1.8rem;
  text-align: right;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  color:rgb(102, 102, 102);

}
.areasejaumcuidador{
  padding-left: 0.01rem;
  padding-right: 0.01rem;
  padding-top: 5rem;
  padding-bottom: 9rem;

}

.botaoqueromecadastrar{
  background-color:#3498db;
  color: white;
  font-size: 1.5rem;
  font-weight: 500;

}

.conteudosejaumcuidador{

  width: 80%;
  position: relative;
  display: block;
  left: 8rem;
  align-self: center;

}

.imagemsejaumcuidador{
  object-fit: cover;
  position: relative;
  width: 100%;
}

.cardseja{
background-color: rgba(255, 255, 255, 0.76);
width: 80%;
display: block;
margin-left: auto;
margin-right: auto;
padding-top: 5rem;


}

.imagem1contrate{
  width: 40%;

}

.icone1contrate{
  text-align: right;


}

.textoiconescont{
  font-size: 2rem;
  font-family: 'Montserrat', sans-serif;
  color:#3498db
}

.imagem2contrate{
  width: 52%;

}
.imagem3contrate{
  width: 93%;
  padding-top: 1.5rem;
  padding-right: 1.5rem;
  padding-left: 1.5rem;
}

.servico3{
  text-align: center;

}

.servico1{
  margin-right: 3.1rem;

}

.titulocontexto{
  font-size: 2rem;
  color:rgb(102, 102, 102);
  font-weight: 600;
}

.divisor{
  color: #3498db46;
  background-color:#3498db2d;
  height: 2px;

}
