<ion-header class="header-red">
  <img class="logo-pages" src="../../assets/imglogo/PetCareLogoSVG.svg" alt="Logo Pet Care">
  <ion-toolbar>
    <ion-title>Sobre a Pet Care</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button class="button-red" menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iusto fugit debitis voluptatem minus? Ut debitis odio id cupiditate quod pariatur non, illo aliquam corporis ea corrupti iure, facere quisquam aliquid.
    
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Assumenda at similique fugit qui, animi earum, exercitationem eos dolorem incidunt quibusdam quos in rem odio quasi minus, explicabo doloremque dicta. Quo.
    </p>
  </ion-card>
  <ion-card>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iusto fugit debitis voluptatem minus? Ut debitis odio id cupiditate quod pariatur non, illo aliquam corporis ea corrupti iure, facere quisquam aliquid.
    
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Assumenda at similique fugit qui, animi earum, exercitationem eos dolorem incidunt quibusdam quos in rem odio quasi minus, explicabo doloremque dicta. Quo.
    </p>
  </ion-card>
  <ion-card>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iusto fugit debitis voluptatem minus? Ut debitis odio id cupiditate quod pariatur non, illo aliquam corporis ea corrupti iure, facere quisquam aliquid.
    
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Assumenda at similique fugit qui, animi earum, exercitationem eos dolorem incidunt quibusdam quos in rem odio quasi minus, explicabo doloremque dicta. Quo.
    </p>
  </ion-card>

</ion-content>

<ion-footer class="ion-no-border">
  <ion-toolbar class="fundoF">
    <ion-title> PetCare 2021 &copy;</ion-title>
  </ion-toolbar>
</ion-footer>
