<p>cadastro works!</p>



<form name="formCad" action="" method="POST">
  <h1 class="cadastroh1">Cadastro</h1>

  <p class="nome">
    <input type="text" name="nome" placeholder="Informe seu nome" required="required">
  </p>

  <p class="nascimento">
    <input type="date" name="nascimento" placeholder="Informe sua data de nascimento" required="required">
  </p>

  <p class="rg">
    <input type="text" name="rg" placeholder="Informe seu RG" required="required">
  </p>

  <p class="telefone">
    <input type="text" name="telefone" placeholder="Informe seu telefone" required="required">
  </p>

  <p class="cep">
    <input type="text" name="cep" placeholder="Informe seu cep" required="required">
  </p>

  <p class="rua">
    <input type="text" name="rua" placeholder="Informe a rua" required="required">
  </p>
  <p class="numero">
    <input type="text" name="numero" placeholder="Informe o numero" required="required">
  </p>
  <p class="complemento">
    <input type="text" name="complemento" placeholder="Informe o complemento" required="required">
  </p>
  <p class="bairro">
    <input type="text" name="bairro" placeholder="Informe o bairro" required="required">
  </p>
  <p class="cidade">
    <input type="text" name="cidade" placeholder="Informe a cidade" required="required">
  </p>
  <p class="uf">
    <input type="text" name="uf" placeholder="Informe a uf" required="required">
  </p>

  <div class="divdostermos">
    <a href="#">Leia os termos de segurança antes de continuar.</a>
    <label for="concordo" class="concordo" >Concordo com os termos</label>
    <input type="checkbox" class="check" id="concordo" name="concordo" checked>

  </div>

  <p class="enviar">
    <input type="submit" name="enviar" value="Enviar">
  </p>





</form>
