.fundoF{
    --background: #2ecc71;
    --color: #fff;
}

.button-cuidador{
    --background: #2ecc71;
    --color: #fff;
    --border-radius: 1.3rem;
    display: block;
    margin-top: .3rem;
    margin-left: 5rem;
    margin-right: 5rem;
  }

  .textT{
    text-align: center;
  }