<router-outlet> </router-outlet>
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap" rel="stylesheet">

<!-- Header -->
<header class="container-fluid" style="background-color: #3498DB;">

    <!-- Container menu-->
    <section class="container-fluid" >
      <article class="row d-flex align-items-center" >

        <!-- Logo -->
        <a [routerLink] = "['/home']" class="col-md-2">
          <img src="assets/img/logo/logoPetcare.svg" alt="Logo empresa - PetCare">
        </a>


        <ul class=cadastro>
          <li class="nav-item">
            <a [routerLink] = "['/cadastro']">
              <img src="./assets/img/logo/cadastrarPetcare.svg" alt="Cadastrar-se PetCare">
            </a>
          </li>

        </ul>
      </article>
    </section>
  </header>


  <!-- End Header-->
  <div class="logincontent">



  </div>
