

.div-1{
  width: 24%;
  border: 2px solid black;
  margin: 1em auto;
  margin-left: 0.5%;
  float: left;
}

.div-1::after {
  display: block;
  clear: both;
  content: "";
}

.div-2{
  width: 46%;
  border: 2px solid black;
  margin: 1em auto;
  margin-left: 2%;
  float: left;
}

.div-2::after {
  display: block;
  clear: both;
  content: "";
}

.div-3{
  width: 24%;
  border: 2px solid black;
  margin: 1em auto;
  margin-left: 2%;
  float: left;
}

.div-3::after {
  display: block;
  clear: both;
  content: "";
}


.textoSimples{
  color: black;

}


.tituloMaiorDiv1{
  font-size:large;
  font-weight: bold;
}

.titulosDiv1{
  font-size:larger;

}

.titulosDiv2{
  font-size:large;
  font-weight: bold;

}

.titulosDiv3{
  font-size:larger;
}

.classeDiv{
  flex: 1 1 auto;
  min-height: 1px;
  padding: 1.25rem;
}

.h1petcareservices{
  font-size: x-large;
}

/* 311px para resolução 1366x768 / 450px em resolução 1600x900 */
.imgQmSomos {
  height: 311px;

}




