<ion-content>
      <ion-slides pager="true">
        <ion-slide id="sld" *ngFor="let slide of slides">
            <div>
              <img [src]="slide.img">
            </div>
            <div class="text"> 
              <h1  [innerHTML]="slide.princ"></h1>
            </div>
            <div class="text">
              <h3 [innerHTML]="slide.titulo"></h3>
            </div>
            <div *ngIf="slide.princ == 3">
              <ion-button [innerHTML]="slide.cadastro"></ion-button>
            </div>
        </ion-slide>
      </ion-slides>
</ion-content>