#sld {
    background-color: #3498db;
    width: 100vw;
    height: 100vh;
    color: #fff;
    display: block;
}

img {
    padding: 8rem 6rem 2rem 6rem;
}
ion-button{
    --background: #fff;
    --color: #3498db;
    --border-radius: 1.3rem;
    margin: 3rem;
}

.text{
    padding-bottom: 2rem;
}