

.fundoF{
    --background: #e74c3c;
    --color: #fff;
}

.button-login{
    --background: #e74c3c;
    --color: #fff;
    --border-radius: 1.3rem;
    display: block;
    margin-top: .3rem;
    margin-left: 8.2rem;
    margin-right: 8.2rem;
  }
  .textT{
      text-align: center;
      
  }
 
  .imgs-ongs{
      padding: .9rem;
  }