<ion-header class="header-red">
  <img class="logo-pages" src="../../assets/imglogo/PetCareLogoSVG.svg" alt="Logo Pet Care">
  <ion-toolbar>
    <ion-title>Seja Heroi</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button class="button-red" menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
    <p class="textT">Como ser um heroi?</p>
    <ion-card>
      <ion-item >
        <p class="text-card">Nos da PetCare nos importamos com todos os pets, existem milhares de pets sem lar. Por aqui você pode fazer uma doação para ajudar ONGS e PROJETOS que ajudam esses pets.</p>
      </ion-item>
    </ion-card>
     <ion-button class="button-login">DOAR</ion-button>
</ion-content>
<ion-item>
  <img  class="imgs-ongs" src="../../../assets/icon/ong-sos.png" alt="ong sos logo">
  <img  class="imgs-ongs" src="../../../assets/icon/amigo-bicho.png" alt="amig bicho logo">
  <img  class="imgs-ongs" src="../../../assets/icon/miau-logo.png" alt="miau logo">
</ion-item>
<ion-footer class="ion-no-border">
  <ion-toolbar class="fundoF">
    <ion-title> PetCare 2021 &copy;</ion-title>
  </ion-toolbar>
</ion-footer>